/* =====================================
   Reset
===================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* =====================================
   Global
===================================== */

html{

    font-size:20px;
    font-family:'Franklin Gothic Medium',
                'Arial Narrow',
                Arial,
                sans-serif;

}

body{

    background:#fafafa;

}


/* =====================================
   Header
===================================== */

header{

    background:#ddd;

}


/* =====================================
   Navigation
===================================== */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0.7rem 2.5rem;

}


/* Logo */

.logo{

    text-decoration:none;

    color:#000;

}


/* Navigation links */

.nav-links{

    display:flex;

    list-style:none;

}

.nav-links li{

    margin-inline:1rem;

    padding:0.3rem;

    border-radius:.3rem;

}

.nav-links li:hover{

    background:rgba(255,255,255,.5);

}


/* All navigation links */

nav a, .mobile-menu a{

    color:#000;

    text-decoration:none;

}


/* Login / Register */

.auth-links{

    display:flex;

    gap:1rem;

}


/* =====================================
   Burger Button
===================================== */

.burger{

    display:none;

    border:none;

    background:none;

    font-size:1.3rem;

    cursor:pointer;

}


/* =====================================
   Mobile Menu
===================================== */

.mobile-menu{

    display:none;

}


/* Open state */

.mobile-menu.open{

    display:block;

    position:absolute;

    right:0;

    top:3.2rem;

    width:50dvw;

    background:#ddd;

    border-radius:.5rem 0 0 .5rem;

}


/* Mobile navigation */

.mobile-menu ul{

    list-style:none;

}

.mobile-menu li{

    padding:1rem;

}

.mobile-menu .auth-links{

    display:flex;

    justify-content:space-between;

    padding:1rem;

    border-top:1px dotted #666;

}


/* =====================================
   Responsive
===================================== */

@media (width <= 750px){

    nav{

        padding-inline:1rem;

    }

    .nav-links,
    nav > .auth-links{

        display:none;

    }

    .burger{

        display:block;

    }

}