/* =====================================
   Reset
===================================== */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


/* =====================================
   Global
===================================== */

html{

    font-size:20px;
    font-family:'Franklin Gothic Medium',
                'Arial Narrow',
                Arial,
                sans-serif;

}

body{

    background:#fafafa;

}


/* =====================================
   Header
===================================== */

header{

    background:#ddd;

}


/* =====================================
   Navigation
===================================== */

nav{

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:0.7rem 2.5rem;

}


/* Logo */

.logo{

    text-decoration:none;

    color:#2031c8;

}

.logo span {
    color: #000;
}


/* Navigation links */

.nav-links{

    display:flex;

    list-style:none;

}

.nav-links li{

    margin-inline:1rem;

    padding:0.3rem;

    border-radius:.3rem;

}

.nav-links li:hover{

    background:rgba(255,255,255,.5);

}


/* All navigation links */

nav a, .mobile-menu a{

    color:#000;

    text-decoration:none;

}


/* Login / Register */

.auth-links{

    display:flex;

    gap:1rem;

}


/* =====================================
   Burger Button
===================================== */

.burger{

    display:none;

    border:none;

    background:none;

    font-size:1.3rem;

    cursor:pointer;

}


/* =====================================
   Mobile Menu
===================================== */

.mobile-menu{

    display:none;

}


/* Open state */

.mobile-menu.open{

    display:block;

    position:absolute;

    right:0;

    top:3.2rem;

    width:50dvw;

    background:#ddd;

    border-radius:.5rem 0 0 .5rem;

}


/* Mobile navigation */

.mobile-menu ul{

    list-style:none;

}

.mobile-menu li{

    padding:1rem;

}

.mobile-menu .auth-links{

    display:flex;

    justify-content:space-between;

    padding:1rem;

    border-top:1px dotted #666;

}


/* =====================================
   Responsive
===================================== */

@media (width <= 750px){

    nav{

        padding-inline:1rem;

    }

    .nav-links,
    nav > .auth-links{

        display:none;

    }

    .burger{

        display:block;

    }

}





/* =====================================
   Hero Section
===================================== */

.hero{

    padding-block:5rem;

}


/* =====================================
   Hero Content
===================================== */

.hero .container{

    text-align:center;

    width:min(1200px,90%);

    margin-inline:auto;
}


/* Heading */

.hero h1{

    font-size:3rem;

    font-weight:900;

    margin-bottom:2rem;

}

.hero h1 span{

    color:#2031c8;

}


/* Description */

.hero p{

    margin-bottom:2rem;

    color:#666;

    font-family:Arial, Helvetica, sans-serif;

    font-weight:300;

}


/* =====================================
   Search Bar
===================================== */

.search-bar{

    display:flex;

    align-items:center;

    gap:.5rem;

    max-width:900px;

    width:100%;

    margin:auto;

    padding:.5rem .7rem;

    border-radius:2rem;

    background:#fafafa;

    box-shadow:
        0 0 10px #2423230a,
        0 1rem 1rem #2423231f;

}


/* Individual Input Groups */

.input-group{

    display:flex;

    align-items:center;

    gap:.8rem;

    width:100%;

    padding:.4rem;

}


/* Input */

.input-group input{

    width:100%;

    border:none;

    outline:none;

    background:none;

    font-size:.9rem;

    padding:.5rem .1rem;

}


/* Divider */

.border-right{

    border-right:.05rem solid #b6b6b64f;

}


/* Search Button */

.search-btn{

    min-width:max-content;

    padding:.5rem .8rem;

    border:none;

    border-radius:.5rem;

    background:#2031c8;

    color:#fff;

    font-size:1rem;

    cursor:pointer;

}


/* =====================================
   Responsive
===================================== */

@media (width <= 750px){

    .hero{

        padding:3rem .5rem;

    }

    .search-bar{

        flex-direction:column;

        padding-inline:.3rem;

        border-radius:1rem;

    }

    .search-btn{

        width:100%;

    }

    .border-right{

        border-right:none;

        border-bottom:.05rem solid #b6b6b64f;

    }

}

@media (width > 1970px) {
    html{
        font-size: 33px;
    }
}