

    body.logged-in .logged-in {
        display: block;
    }

    body.logged-in .logged-out {
        display: none;
    }

    body.joblisting .main-header {
        color: #fff;
        
        display: flex;
        justify-content: space-between;

        padding: .7rem 2.5rem ;
        padding-right: .7rem;

        border-bottom:  .5px solid #e2e8f0;

        box-shadow: none;

        position: relative;
    }


    body.joblisting .container {
        display: flex;
        place-items: center;
        flex: .8 1 0%;
        gap: 1.8rem;
        width: max-content;

        margin: 0;
    }

   .logo {

        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;

      
        font-size: 1rem;
        font-weight: 700;
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;

        color: #fff;
        background-color: #1152d4;
        
        width: 2rem;
        height: 2rem;
        border-radius: 0.5rem;
    }

    .image-container.user {

        flex:13%;

        width: 3rem;
        height: 3rem;

        aspect-ratio: 1 / 1;
        
        background: #e2e8f0;

        color: #000;

        box-sizing: border-box;

        border: 1px solid #cbd5e1;

        border-radius: 50%;

        overflow: hidden;
    }

    body.joblisting .search-bar  {
        /* all: initial; */
        max-width: none;
        box-shadow: none;
        min-width: 15rem;

        /* flex: 1 1 0%; */
        
        margin: 0;

        background-color: #f1f5f9;

        padding: 0;
        padding-left: 1rem;

        
        width: 100%;
        height: 100%;

        border-radius: .7rem;
        border: .2px solid rgba(0, 0, 0, 0.262);
    }

    body.joblisting .input-group{
        padding: 0;

        /* flex: 2 1 0%; */
        color: #64748b;
        
        gap:0;
        height: 100%;
        width: 100%;

        
    }
    body.joblisting .input-group input {
        font-weight: 400;
        background-color: transparent;
        font-size: .9rem;
        
        padding: 0.4rem;
        padding-left: .5rem;
        padding-right: 1rem;


        width: 100%;
        height: 100%;
    }


    body.joblisting nav{
        padding: 0;
        justify-content: end;

    }

    body.joblisting nav a{
        font-weight: 600;
        color: #344155;
    }

    body.joblisting .mobile-menu {
        text-align: left;
        top: 4rem;
        right: -.2rem;
    }

    body.joblisting .mobile-menu .search-bar {
        box-sizing: border-box;
        max-width: 95%;
        min-width: 95%;
        margin: auto;
        margin-top: 1rem;
    }

    @media (width <= 750px) {

        body.joblisting .container {
            flex: 0; 
            justify-content:self-end;
        }
        
        .container * {
            flex: none !important;
        }

        .container > .search-bar, .container > .auth-links {
            display: none;
        }
    }



    body.joblisting .jobs-container {

        grid-template-columns: 1fr;
        width: 100%;
    }



    .stripA {
        text-decoration: none !important;
        color: inherit;
    }

    main {
        padding: 2rem 8rem;
    }

    .search-jobs .header {
        margin-bottom: 3rem;
        padding: 2px;
    }


    .flex {
        display: flex;
        gap:1rem;
    }






/*
==================================================
TODO

Replace:

#ffffff

↓

var(--color-surface)

==================================================
*/


body.joblisting main{

    max-width:1300px;

    margin:auto;

    padding:3rem 2rem;
}


/*
==================================================
Breadcrumb
==================================================
*/


.breadcrumbs {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-bottom: 2rem;
    font-size: 1.1rem;
    color: #64748b;

    font-family:"Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.breadcrumbs a {
    color: inherit;

    text-decoration: none;

    transition: .2s;
}

.breadcrumbs a:hover{

    color:#1152d4;
}

.breadcrumbs span:last-child{

    /* font-weight:500; */

    color:#0f172a;
}


/*
==================================================
Page Header
==================================================
*/

.page-header{

    display:flex;

    justify-content:space-between;

    align-items:flex-end;

    gap:2rem;

    margin-bottom:3rem;
}

.page-header h1{

    font-size:2.5rem;

    margin-bottom:.7rem;
}

.page-header p{

    color:#64748b;

    font-size:1rem;
}

/*
==================================================
Header Actions
==================================================
*/


.page-actions{

    padding: .5rem;
    
    background-color: #f1f5f9;
    
    display:flex;
    
    align-items:center;
    
    gap:.4rem;

    border-radius: 1rem;
}

.vertical-divider {
    background-color: #646464;
    width: 1px;
    height: 1.2rem;
    margin-inline: .5rem;
}

.page-actions span{

    padding-left:.9rem;

    font-weight:600;
}

.page-actions button{

    border:none;

    background:#eef4ff;

    color:#1152d4;

    padding:.9rem 1.2rem;

    border-radius:.8rem;

    cursor:pointer;

    font-weight:600;
}

.page-actions button:hover{

    background:#dbeafe;
}




.job-layout {
    display: flex;

    gap: 3rem;
}

.jobs-content {
    width: 100%;
}

.filters {
    padding: 1.4rem;

    width:35%;

    height: max-content;

    background-color: #fff;

    border-radius: 1rem;

    box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;

    position: sticky;

    top: 20px;
}

.filters-header {
    
    display: flex;
    
    justify-content: space-between;
}

.filter-group > :first-child{
    padding-top: 20px;
    
    margin-top: 20px;

    border-top: .5px solid #cbd5e19e
}

.filters-header a {
    text-decoration: none;
}

.filter-group {
    display: flex;
    flex-direction: column;
}
.filter-group h4{
    display: flex;

    align-items: center;

    gap: .3rem;

    margin-bottom: 1rem;
}

.filter-group h4 i {
    color: #1152d4;
}

.filter-group label:not(:first-child) {
    margin-top: .5rem;
}

.salary-values {
    display: flex;
    
    justify-content: space-between;    

    font-size: .75rem;

    margin-top: .4rem;
}

.filter-group label {
    padding-inline: .1rem;
    display: flex;
    gap: .6rem;
}

.filter-group input[type="checkbox"] {

    cursor: pointer;

    
    accent-color: #d43511;

    width: 1rem;
    
}

.filter-group input[type="range"] {
  appearance: none;
  width: 100%;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 9px;
  background: #cbd5e1;
  border: none;
  border-radius: 999px;
}

input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  width: 16px;
  height: 16px;
  background: #d43511;
  border-radius: 50%;
  margin-top: -4px; /* Centers thumb on track */
}

@media (width <= 750px) {
    .page-header {
        text-align: center;
        align-items: center;
        flex-direction: column;
    }

    .page-actions {
        justify-content: center;
    }

    .filters {
        position: static;

        width: 100%;

        margin-bottom: 1.5rem;
    }
    
    .job-layout {
        display: block;

    }
}




.pagination {
    margin-top: 2rem;

    padding-top: 3rem;
    
    display: flex;

    justify-content: center;

    gap: 1rem;

    font-size: 3rem;
}

.pagination button {

    font-weight: 700;

    font-size: 2rem;

    padding: .7rem 1rem;
    
    display: flex;

    justify-content: center;

    align-items: center;

    border: .05rem solid #cbd5e1;
    
    border-radius: .8rem;

    cursor: pointer;
}

.pagination button:hover {

    opacity: .9;

    transform: translateY(-2px);

}

    /*
==================================================
Footer
==================================================
*/

.site-footer{

    margin-top:5rem;

    padding:2rem 8rem;

    border-top:1px solid #e2e8f0;

    background:#fff;
}

/*
==================================================
TODO (Variables)

Background

#ffffff

↓

var(--color-surface)

==================================================
*/


.footer-container{

    max-width:1300px;

    margin:auto;

    display:flex;

    justify-content:space-between;

    align-items:center;

    gap:2rem;

    flex-wrap:wrap;
}

.footer-container p{

    color:#64748b;

    font-size:.9rem;

    display:flex;

    align-items:center;

    gap:.5rem;
}

/*
==================================================
TODO

Move font-size into typography variables.

==================================================
*/


.footer-links{

    display:flex;

    gap:2rem;

    flex-wrap:wrap;
}

.footer-links a{

    text-decoration:none;

    color:#64748b;

    font-size:.9rem;

    transition:.25s;
}

.footer-links a:hover{

    color:#1152d4;
}

/*
==================================================
Responsive Footer
==================================================
*/

@media(width <= 900px){

.site-footer{

    padding:2rem;
}

.footer-container{

    flex-direction:column;

    text-align:center;
}

.footer-links{

    justify-content:center;
}

}

@media(width <= 600px){

.footer-links{

    gap:1rem;
}

.footer-links a{

    font-size:.8rem;
}

}